[submodule "nlassert"]
	path = third_party/nlassert/repo
	url = https://github.com/nestlabs/nlassert.git
	branch  = master
[submodule "nlio"]
	path = third_party/nlio/repo
	url = https://github.com/nestlabs/nlio.git
	branch  = master
[submodule "mbedtls"]
	path = third_party/mbedtls/repo
	url = https://github.com/ARMmbed/mbedtls.git
	branch = mbedtls-2.28
[submodule "pigweed"]
	path = third_party/pigweed/repo
	url = https://github.com/google/pigweed.git
	branch  = main
[submodule "third_party/jsoncpp/repo"]
	path = third_party/jsoncpp/repo
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "editline"]
	path = third_party/editline/repo
	url = https://github.com/troglobit/editline.git
[submodule "third_party/boringssl/repo/src"]
	path = third_party/boringssl/repo/src
	url = https://github.com/google/boringssl.git
	branch = master
[submodule "third_party/libwebsockets/repo"]
	path = third_party/libwebsockets/repo
	url = https://github.com/warmcat/libwebsockets
	platforms = linux,darwin,tizen
[submodule "perfetto"]
	path = third_party/perfetto/repo
	url = https://github.com/google/perfetto.git
	branch = master
	platforms = linux,android,darwin
