name: "Validate Gradle Wrapper"
on:
  workflow_dispatch:

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: gradle/wrapper-validation-action@v1
